# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Polcraz.BlazorToast.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\polcr\source\repos\Ilya\RedDuck\Polcraz.BlazorToast\.idea\.idea.Polcraz.BlazorToast\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
